.container-modify{
    width: 100%;
    padding-top: 103px;
    padding-bottom: 118px;
}

.sub-title-js{
    margin-left: 30%;
}

.footer-js{
    width: 100%;
    padding-top: 86px;
    background: #1a1a1a;
}

.post_button-js {
    width: 188px;
    height: 53px;
    background: #ffb606;
    margin-top: 18px;
}

.post_button-js a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    line-height: 53px;
}
.img-circle-js{
    border: 5px solid #ffffff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px ;
    }
.card-directive-js{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 0 0 0;
    -webkit-border-radius: 200px ;
}

.button-read-js{
    width: 188px;
    height: 53px;
    background: #ffb606;
    margin: 0 0 0 15%;
}
.button-read-js a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    line-height: 53px;
}

.course_price a
{
	display: block;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    line-height: 53px;
}

.name-directive-js{
    margin-top: 2%;
    width: 100%;
    height: 67px;
    padding-left: 15px;
}
.autor-js{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 20px;
    margin-top: 7px;
}

.autor-js span{
    font-size: 15px;
    color: #000000;
}

.flex-sm-row {
    flex-direction: row!important;
}

.d-flex {
    display: flex!important;
}

.directiva-js{
    border: 2px solid yellow;
    padding-top: 6%;
    background: #ffb606
}

.title-directiva-js{
    margin-top: 3%;
    color: #1a1a1a;
}

.title-directiva-js h1::before {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 55px;
    height: 4px;
    content: '';
    background: #ffffff;
}

.title-directiva-js h1 {
    display: block;
    padding-top: 24px;
}

.buttons_container{
    border: 2px solid #000000 ;
    background: #1a1a1a;
}

.button-directiva-js a{
    font-size: 15px;
    color: #ffffff;
}

.event_item {
    margin-bottom: 56px;
}
.geme-js{
    margin-top: -10%;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 5%;
}

.geme-container-js{
    margin-top: -9%;

}

.event_image img {
    width: 100%;
}

.geme-title-js{
    color: #1a1a1a;
}

.footer_about_text{
    color: #a5a5a5;
}